#Redis
REDIS_HOST='redis-1dhvkehk5267.c300.eu-central-1-1.ec2.cloud.redislabs.com'
REDIS_PORT=1000000
REDIS_USERNAME="default"
REDIS_PASSWORD="ONi1A2AUifaTd4piaVenhvkejvkReNeeZVyInU5FT"

JWT_SECRET = "egfjwhsviufeguyxhuigfmvuxhmimhzmmhoqcegycrxhohjjjjjnbkjmbnhvnvxeiuyohexfomidwfbmoxfcohmixfwbonwfcmn"

#Rabbit
RMQ_PORT=5671
RMQ_USER=lehygacdsmsklxslt
RMQ_VIRTUAL_HOST=lehysafygacgact
RMQ_HOST=seal-01sadbjiasb.lmq.cloudamqp.com
RMQ_PASSWORD=vMXQtY7HfrQ_cnCQmFadjbskjabsoapsnkjbvdciujpCkV3W8Hh_J21
